@import "../../styles/variables";

#quiz {
    padding: $margin-content;
    
    
    &-answers {
        display: grid;
        grid-gap: 1rem;
        
        &-grid {
            @extend #quiz-answers;
            grid-template-columns: 1fr 1fr;
        }
    }
}






@media only screen and (min-width: 768px) {
    #quiz {
        max-width: 400px;
        background: rgba(255, 255, 255, .4);
        margin: 0 auto;
    }
}