.answer {
    background: white;
    border-radius: .4rem;
    padding: .4rem;
    text-align: center;
    
    &:hover {
        background: darken(white, 10%);
    }
    
    
    b {
        float: left;
    }
    
    
    img {
        width: 100%;
    }
}