@import "../../../styles/variables";

.answer {
    background: white;
    border-radius: .4rem;
    padding: .4rem;
    text-align: center;
    
    &:hover {
        background: darken(white, 10%);
    }
    
    &:active {
        color: white;
    }

    &-success {
        @extend .answer;
        background: linear-gradient($success, darken($success, 40%));
    }

    &-wrong {
        @extend .answer;
        background: linear-gradient($error, darken($error, 40%));
    }
    
    
    b {
        float: left;
    }
    
    
    img {
        width: 100%;
    }
}