@import "../../../styles/variables";

.answer {
    background: white;
    border-radius: .4rem;
    padding: .4rem;
    text-align: center;
    
    
    b {
        float: left;
    }
    
    
    img {
        width: 100%;
    }
}


.answer-success, .answer-wrong {
    @extend .answer;
}

.answer-success {
    background: $success;;
    border: 2px solid darken($success, 40%);
}

.answer-wrong {
    background: lighten(orange, 20%);
}