@import "../../src/styles/variables";

#welcome-screen {
    text-align: center;
    padding: 4rem 0;

    
    img {
        width: 6rem;
    }


    button {
        display: block;
        margin: 2rem auto;
        background: linear-gradient($primary, darken($primary, 20%));
        color: white;
        border: 2px solid white;
        border-radius: .4rem;
        padding: .4rem 1rem;

        &:hover {
            transition: .2s;
            background: lighten($primary, 10%);
        }
    }
}